* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    font-family: "Hind Siliguri", sans-serif;
}

/*-------------------------------
|        common styles          | 
-------------------------------*/

.text-one {
    font-size: 56px;
}

.text-two {
    font-size: 24px !important;
    text-align: center !important;
}

.max-width {
    max-width: 1140px !important;
}

.bg-color {
    background-color: #461E59;
}

.social-links-top-right {
    justify-content: end;
}

.link-fb:hover {
    color: rgb(0, 0, 255) !important;
}

.link-yt:hover {
    color: rgb(234, 19, 19) !important;
}

.hero-heading-style {
    color: #00FFBA !important;
}

/*----------------------------------- 
|             blander               |
---------------------------------- */

.product_item_img{
    display: block;
    max-width: 530px;
    max-height: 530px;
    min-height: 450px;
    width: auto;
    height: auto;
}
    
/* Zoom styles */
.zoom,
.original {
    position: relative;
    display: block;
    max-width: 530px;
    max-height: 430px;
    width: auto;
    height: auto;
    min-height: 400px;
}

.zoom {
    display: inline-block;
}

.original {
    cursor: crosshair;
}

#target {
    max-width: 530px;
    max-height: 430px;
    /* min-height: 400px; */
    width: calc(var(--t) / 2);
}

.zoom .viewer {
    position: absolute;
    top: 0;
    left: 100%;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.zoom .viewer img {
    position: absolute;
}

.magnifier {
    position: absolute;
    background: #000;
    opacity: 0.7;
    top: 0;
    left: 0;
}

.magnifier,
.viewer {
    display: none;
}

.original:hover~div {
    display: block;
}

.original::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
}

.order_button {
    background-color: #e3309d;
    padding: 6px 12px;
    border-radius: 10px;
    color: #fff;
    transition: all 0.5s ease-in-out;
}

.order_button:hover {
    background-color: #f3d2e6;
    border: 2px solid #e3309d;
    color: black !important;
}

.item-description-title {
    color: #e3309d;
    /* line-height: 5px; */
    font-weight: bold;
}
/*---------------------------------- 
|              footer              |
---------------------------------- */

footer {
    background-image: linear-gradient(180deg, #363643 0, #110e17 100%);
}

.footer-logo {
    width: 60%;
}

.footer-text {
    color: #d1cfcf;
    text-align: start;
}

.footer-link {
    color: #d1cfcf;
    display: block;
    font-weight: 500;
    line-height: 25px;
}

@media (max-width: 992px) {
    .text-one {
        font-size: 45px;
    }

    .text-two {
        font-size: 20px !important;
        text-align: justify !important;
    }

    .hero-description {
        text-align: justify;
    }

    .custom-padding {
        padding-left: 2rem !important;
        padding-right: 2rem !important;
    }

    .social-links-top-right {
        justify-content: center;
    }

    .custom-btn {
        margin-top: 1.5rem;
    }

    .footer-elements {
        padding-top: 3rem;
        padding-left: 3rem;
    }

    .footer-logo {
        width: 30%;
    }

    .footer-text {
        max-width: 70%;
    }

}

@media (max-width: 576px) {
    .text-one {
        font-size: 28px;
    }

    .text-two {
        font-size: 18px !important;
        text-align: justify !important;
    }

    .custom-btn {
        margin-top: 0.5rem;
    }

    .footer-logo {
        width: 60%;
    }

    .footer-text {
        max-width: 100%;
        text-align: justify;
    }
}