* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Hind Siliguri", sans-serif;
}

/*--------------------------------------- 
|            header section             |
--------------------------------------- */

.max-width {
    max-width: 1140px !important;
}

.max-width-content {
    max-width: 900px;
}

.bg-first {
    background-color: #3A0256;
}

.social-links-top-right {
    justify-content: end;
}

.text-control-6 {
    font-size: 18px;
}

.nav-link:hover {
    background-color: #E81F64;
    color: #fff !important;
    transition: all 0.5s ease-in-out;
}

.nav-link {
    color: #3A0256 !important;
    font-size: 18px !important;
}


.btn-stylish {
    background-color: #E81F64;
}

/*--------------------------------------- 
|            header section             |
--------------------------------------- */

.hero-dextription {
    /* text-align: justify !important; */
    font-size: 20px !important;
}

/*--------------------------------------- 
|            about section             |
--------------------------------------- */

.about-section {
    background-color: #faefff;
}

.about-heading {
    font-size: 40px;
    color: #E81F64;
}

.b-bottom{
    margin-top: 1rem;
    height: 1px;
    width: 20%;
    border: 1px solid black;
}

.about-descripttion{
    line-height: 33px;
    font-size: 18px;
    text-align: justify;
}

.about-img-element {
    padding: 1rem;
}

@media (max-width: 992px) {
    .social-links-top-left {
        justify-content: center;
    }

    .social-links-top-right {
        justify-content: center;
    }


    .social-links-top-text {
        font-size: 16px;
    }

    .text-control-6 {
        font-size: 16px !important;
    }

    .hero-heading {
        font-size: 45px;
    }

    .about-descripttion{
        font-size: 20px;
        padding-left: 1rem;
        padding-right: 1rem;
    }

    .about-img-element {
        padding: 1rem;
    }

    /* .about-element-container{
        padding-bottom: 3rem;
    } */
}

@media (max-width: 576px) {

    .nav-item .nav-link {
        font-size: 16px !important;
    }

    .about-img-element {
        padding: 1rem;
    }
}