* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Hind Siliguri", sans-serif;
}

/*--------------------------------------- 
|            header section             |
--------------------------------------- */

.max-width {
    max-width: 1140px;
}

.max-width-content {
    max-width: 900px;
}

.bg-first {
    background-color: #3A0256;
}

.social-links-top-right {
    justify-content: end;
}

.text-control-6 {
    font-size: 18px;
}

.nav-link:hover {
    background-color: #E81F64;
    color: #fff !important;
    transition: all 0.5s ease-in-out;
}

.nav-link {
    color: #3A0256 !important;
    font-size: 18px !important;
}


.btn-stylish {
    background-color: #E81F64;
}

/*--------------------------------------- 
|            header section             |
--------------------------------------- */

.hero-dextription {
    text-align: justify;
    font-size: 20px !important;
}

/*--------------------------------------- 
|            about section             |
--------------------------------------- */

.about-section {
    background-color: #faefff;
}

.about-heading {
    font-size: 40px;
    color: #E81F64;

}

@media (max-width: 992px) {
    .social-links-top-left {
        justify-content: center;
    }

    .social-links-top-right {
        justify-content: center;
    }


    .social-links-top-text {
        font-size: 16px;
    }

    .text-control-6 {
        font-size: 16px !important;
    }

    .hero-heading {
        font-size: 45px;
    }
}

@media (max-width: 576px) {

    .nav-item .nav-link {
        font-size: 16px !important;
    }
}