*{
    padding: 0;
    margin: 0;
    font-family: "Hind Siliguri", sans-serif;
}

.bg-color{
    background-color: #00FFBA;
    /* padding-bottom: 2rem; */
}

.navigation{
    font-size: 12px;
    font-weight: 900;
    /* background: #000; */
}

#link-1 {
    /* padding: 1px; */
    background: linear-gradient(to right, #C29B0C, yellow, #C29B0C);
}

#link-2 {
    margin: 0px 2px 0px 2px;
    /* padding: 5px; */
    background-color: red;
}
#link-3 {
    /* padding: 5px; */
    background-color: #8C52FF;
}
#link-4 {
    margin: 0px 0px 0px 2px;
    /* padding: 5px; */
    background-color: #333;
}

.hero-bg{
    background-color: #8C52FF;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}
.row {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -15px;
}
.col-7, .col-5 {
    padding: 0 15px;
}
#img-left{
    position: relative;
    right: 7rem;
}
#img-hero{
    position: relative;
    right: 12rem;
}
#banner-section{
    background-color: #00FFBA;
}
/* Responsive styles */
@media only screen and (max-width: 992px) {
    .col-7 {
        order: 2;
        text-align: center;
        margin-top: 20px;
    }
    .col-5 {
        order: 1;
        text-align: center;
    }
    img {
        display: block;
        margin: 0 auto;
    }
}
@media only screen and (max-width: 576px) {
    h1 {
        font-size: 24px;
    }
    h4 {
        font-size: 18px;
    }
    #img-hero{
        position: static;
    }
}